{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Bienvenue sur le site de vente de livre SymBook</h1>
	Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam eos architecto earum, deleniti exercitationem id quidem odit, iure, doloribus repudiandae rem corrupti explicabo sapiente amet. Impedit, quisquam? Odit, inventore?
	Expedita ab vel tempora veritatis odio exercitationem dolorem molestiae corrupti ipsa unde alias eius et nisi nihil perferendis aut suscipit ratione sequi nostrum numquam, repellendus ipsam tempore cumque molestias. Cupiditate.
	Quos doloribus possimus molestias consequatur libero saepe ipsum placeat vitae ratione ut, quaerat perferendis, reprehenderit, neque amet omnis in iure. Eius fugiat dolorem sequi explicabo rem ducimus veritatis officia consectetur!
	Hic aliquam doloremque quod quibusdam, quidem eius cupiditate consequatur dicta, ipsa obcaecati numquam sint, nulla est atque omnis ipsam assumenda architecto magnam fugiat rerum inventore impedit deserunt? Aliquid, rerum hic!
	Ex delectus enim, cumque vitae odio quisquam a quos quae sapiente eum omnis voluptates sunt, ad neque dolor laboriosam earum itaque id! Reprehenderit veritatis a ipsum esse voluptates eligendi aut.
	Laboriosam molestiae iusto quisquam numquam repellat ducimus nobis corrupti non, quaerat ex deleniti esse a obcaecati magni alias praesentium dolor accusantium reprehenderit ab culpa, necessitatibus laborum. Rem modi eveniet illum.
	Ipsam quas veritatis, culpa totam, iusto voluptas impedit atque dolore quam voluptates suscipit provident? Sequi ut, sapiente animi quasi a facere laudantium rerum nisi labore facilis excepturi dignissimos, cumque ipsam!
	Neque deleniti vitae temporibus sequi fugiat dolorum eum aspernatur, provident dolore natus, soluta laborum nostrum molestiae perspiciatis enim ipsa, dolorem ea laudantium. Quasi iste culpa laborum nostrum omnis maiores ab?
	Quisquam possimus quo id voluptates dolore corporis, perferendis optio, accusantium molestias incidunt veniam dignissimos impedit atque minus laborum quasi? Sed recusandae placeat cum repudiandae odit odio minus incidunt fugit hic.
	Quae nobis ut alias id asperiores excepturi, ipsam exercitationem omnis accusantium quidem placeat aliquam, unde ipsum adipisci. Eius maxime magnam necessitatibus eveniet rerum. Unde vitae maxime temporibus, doloribus expedita ea?
	Corrupti itaque non tempora, nobis commodi velit hic dolore beatae eaque vel eum, quos maiores dolores similique consequatur autem vitae ratione? Quas est minus numquam! Praesentium iure veritatis modi libero!
	Eveniet tempora sit minima repellat debitis facere eum veritatis architecto eos deserunt ducimus sequi ipsa asperiores molestiae commodi, odit perspiciatis cupiditate temporibus voluptates, voluptatem alias accusantium labore. Tempora, similique molestias.
	Incidunt debitis fugiat facilis neque eveniet eaque iste ab reprehenderit consequatur tempora dicta, recusandae delectus beatae optio sapiente excepturi hic tenetur dolores ad, atque illum quis officia laborum sequi. Dolor.
	Mollitia, earum natus. Nemo corporis explicabo esse ullam obcaecati. Esse enim maxime quae, inventore minus, laborum eligendi, possimus rem molestias consequuntur ad. Voluptatem, eligendi? Natus laborum eum non repellendus deserunt!
{% endblock %}
